.element {
    background-image: url('https://i.postimg.cc/FHqSL3Qb/thumbnail-image5.jpg');
    background-attachment: fixed;
    background-size: cover;
    height: 800px;
    background-position: center;
}

.element-h1{
    font-size: 2em;
    color: red;
}

.element-p {
    font-size: larger;
    font-weight: 700;
    color:red;
    text-align: center;
}