
.trainer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.trainer-card {
  display: inline-block;
  vertical-align: middle;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.trainer-card h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.trainer-card p {
  font-size: 16px;
  color: #666;
  margin-bottom: 15px;
}

.trainer-image {
  width: 100%;
  aspect-ratio: 1 / 1;  
  max-width: 300px;     
  border-radius: 8px;
  margin-bottom: 15px;
  object-fit: cover;
}

button {
  align-items: center;
  background-color: #ff4040;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.button-man {
  width: 30%;
  align-items: center;
  background-color: #df0000c8;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  margin-left: 20px;
}

button:hover {
  background-color: #ff2020;
}

@media (max-width: 768px) {
  .trainer-container {
    flex-direction: column;
    align-items: center;
  }

  .trainer-card {
    width: 100%;
    max-width: 400px;
  }

  button {
    width: 100%;
  }
} 
