.singup-container {
    background-color: white;
    padding: 20px;
    width: 100%;
    /* max-width: 600px; */
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }