/* TODO: Add sitewide styles */

.header {
    background-color: #000;
    padding: 20px 0;
    color: white;
    text-align: center;
}

.header h1 {
    font-size: 40px;
    font-weight: bold;
}

.header h1 span {
    color: #ff0000; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

 .footer_container {
    background-color:#000;
    color:#ff0000;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
  } 

a {
    text-decoration: none;
    color: inherit;
}

.footer {
    position: relative;
    margin-top: auto;
  }

  #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  