
.modal-container {
    background-color: white;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  h1 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
  }
  
  input:focus {
    border-color: #666;
    outline: none;
  }
  
  button {
    background-color: #ff4040;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    width: 100%;
  }
  
  button:hover {
    background-color: #ff2020;
  }
  

  .login-demo {
    display: block;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
  }
  
  .login-demo:hover {
    text-decoration: underline;
  }

  p {
    color: red;
    font-size: 14px;
    margin-top: -10px;
  }

  @media (max-width: 768px) {
    .modal-container {
      width: 90%;
      max-width: none;
    }
  }
  