
  .profile-dropdown {
    position: absolute;
    top: 40px; 
    right: 0;
    width: 180px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    padding: 10px 0;
    z-index: 100;
  }
  

  .profile-dropdown li {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .profile-dropdown li:hover {
    background-color: #f0f0f0;
  }
  

  .profile-dropdown li button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #dc3545; 
    transition: color 0.3s ease;
  }
  
  @media (max-width: 768px) {
    .profile-dropdown {
      width: 100%;
      right: 0;
    }
  
    button {
      font-size: 20px;
    }
  }
  